<h1> Items </h1>
<table>
  <thead>
    <tr>
        <td><b>Name</b></td>
        <td><b>Price</b></td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td>
            <%= link_to 'Show', item_path(item.id)%>
        </td>
        <td>
            <%= link_to 'Edit', edit_item_path(item.id)%>
        </td>
        <td><%= button_to 'Delete', {:controller => :items, :action => 'destroy', :id => item.id}, :method => :delete %><td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/items/new">New Item</a>